@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

::-moz-placeholder {
  color: #808080;
}

:-ms-input-placeholder {
  color: #808080;
}

::placeholder {
  color: #808080;
}

::-moz-selection {
  background-color: #28a745;
  color: #ffffff;
}

::selection {
  background-color: #28a745;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  color: #333333;
  background-color: #ffffff;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  padding: 10px 28px;
  line-height: 1.55;
  text-decoration: none;
  color: #ffffff;
  fill: #ffffff;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 5px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: background-color, border-color, color;
}
.btn:hover, .btn:focus {
  background-color: #228e3b;
  border-color: #228e3b;
}

.btn__text + .btn__icon,
.btn__icon + .btn__text {
  margin-left: 6px;
}

.btn--100 {
  width: 100%;
}

.btn--sm {
  padding: 7px 14px;
  line-height: 1.4;
}

.btn--secondary {
  background-color: #0284d0;
  border-color: #0284d0;
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: #0270b1;
  border-color: #0270b1;
}

.btn--outline {
  background-color: transparent;
  border-color: #ffffff;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}

.title--light {
  color: #ffffff;
}

.title--dark {
  color: #333333;
}

.title--large {
  font-size: 55px;
  line-height: 1.2;
}

.top-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.65;
}

.top-text--light {
  color: #ffffff;
}

.top-text--dark {
  color: #333333;
}

.top-text--large {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.67;
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.header {
  background-color: aqua;
}

.hero {
  background-color: yellow;
}

.callback {
  display: flex;
  flex-direction: row;
}

.callback__foto {
  width: 50%;
}/*# sourceMappingURL=index.css.map */