// USER VARIABLES SECTION

// colors
$color-accent: #28a745; // Accent Color
$color-text: #333333; // Text Color

// typography
$font-stack: 'Open Sans', sans-serif; // User Font Family
$font-size: 18px; // Body Font Size
$line-height: 1.55; // Document Line Height
