<div class="modal" data-modal="1">
  <!-- Modified close button -->

  <button class="modal__close js-modal-close">
    <span class="modal__envelope">
      <svg
        height="18"
        class="modal__cross"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
    </span>
  </button>

  <!--   Svg иконка для закрытия окна  -->
  <!-- <svg
    height="18"
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg> -->
  <p class="modal__title">Read more</p>
  <p class="modal__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque iste eaque
    maiores, vel quidem veritatis ullam voluptate consequatur, molestiae odit
    adipisci et nulla maxime cupiditate mollitia ducimus itaque vitae, quae in
    ab earum nam fugiat rem deleniti. Inventore enim veritatis obcaecati fuga
    nostrum explicabo dolore facere fugiat nisi hic velit distinctio error,
    neque illo temporibus? Nihil, minima officiis. Rem quidem animi dolor quos
    harum est soluta quod vero corporis vel possimus sequi non maiores,
    temporibus, dolores ad officia, numquam nesciunt? Tempore, corrupti veniam
    blanditiis quia expedita accusantium ex veritatis iure culpa sapiente
    adipisci nostrum reprehenderit aliquid totam error maxime asperiores beatae
    aspernatur, omnis cumque quis, magni ipsum ipsa! Iusto voluptates laborum
    quis quo facilis ullam autem harum odit repellendus. Nostrum mollitia, a nam
    magni laborum, quod, repellat nisi ut quae culpa neque! Eum impedit, quo
    culpa illum earum ducimus non sed debitis a quibusdam obcaecati repellat
    doloribus natus fugit harum. Ratione quae nesciunt, at odit voluptate
    tempore beatae hic eveniet laudantium autem mollitia, et, suscipit quidem
    blanditiis aliquid ipsa fugit aperiam fugiat cum architecto laborum sed
    officiis. Culpa consectetur deleniti sit assumenda provident eligendi
    obcaecati blanditiis pariatur quae totam esse tenetur dolorum at beatae
    asperiores eum alias, labore magni nisi.
  </p>
</div>
