<div class="modal" data-modal="1">
  <!-- Modified close button -->

  <button class="modal__close js-modal-close">
    <span class="modal__envelope">
      <svg
        height="18"
        class="modal__cross"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
    </span>
  </button>

  <!--   Svg иконка для закрытия окна  -->
  <!-- <svg
    height="18"
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg> -->
  <p class="modal__title">Read more</p>
  <p class="modal__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum distinctio amet
    eum fugiat nulla voluptatibus impedit est sint hic libero nobis id minima
    dicta repellendus et quae laboriosam reiciendis commodi accusantium, quo
    nam. Velit nisi natus fuga voluptatum ipsa. Nostrum placeat quis vero
    molestiae error atque unde recusandae eaque fugiat. Labore id nostrum sequi
    in adipisci aliquam possimus, doloribus sed et at ad nemo! Possimus quia
    veritatis pariatur obcaecati architecto, numquam culpa laudantium libero
    reprehenderit officiis nihil aut totam placeat nisi accusamus eius nulla
    dignissimos neque corporis illum necessitatibus! Odit, est. Voluptatibus
    voluptatum aliquam numquam explicabo repudiandae esse velit consectetur.
  </p>
</div>
