<section class="about">
  <div class="container">
    <div class="about-flex">
      <img
        class="about__img"
        src="./images/about.jpeg"
        alt="Фото чотирьох жінок"
        width="680"
        height="460"
      />
      <div class="about_overlay">
        <p class="about__text-top">What you are looking for</p>
        <h2 class="about__title">We provide bespoke solutions</h2>
        <p class="about__text-bottom">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <button class="about__btn btn" type="button">Read More</button>
      </div>
    </div>

    <!-- Modal -->
    <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
    <include src="./partials/modals/modal-about.html"></include>
  </div>
</section>
