<section class="benefits">
  <div class="container benefits__container">
    <h2 class="visually-hidden">Benefits</h2>
    <ul class="benefits-list list">
      
      <li class="benefits-list__item">
          <svg class="benefits-list__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-university"></use>
          </svg>
        <h3 class="benefits-list__title">Investmant Banking</h3>
        <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!</p>
      </li>

        <li class="benefits-list__item">
          <svg class="benefits-list__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-book-reader"></use>
          </svg>
          <h3 class="benefits-list__title">Investmant Banking</h3>
          <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
        </li>

      <li class="benefits-list__item">
          <svg class="benefits-list__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-pencil-alt"></use>
          </svg>
        <h3 class="benefits-list__title">Tax & Custudio</h3>
        <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!</p>
      </li>
    </ul>
  </div>
</section>