<section class="benefits">
  <div class="container benefits-container">
    <h2 class="vissualy-hidden">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-list__item">
          <h3 class="benefits-list__title">Investmant Banking</h3>
          <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg  width="35" height="35">
              <use href="./images/icons.svg#icon-university"></use>
            </svg>
          </a>

        
      </li>
      <li class="benefits-list__item">
          <h3 class="benefits-list__title">Portfolio Manager</h3>
          <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-book-reader"></use>
            </svg>
          </a>
      </li>
      <li class="benefits-list__item">
          <h3 class="benefits-list__title">Tax & Custudio</h3>
          <p class="benefits-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-pencil-alt"></use>
            </svg>
          </a>
      </li>
    </ul>
  </div>
</section>