<section class="benefits">
  <div class="container">
    <h2 class="vissualy-hidden">Benefits</h2>
    <ul class="benefits">
      <li class="benefits-about">
        <div class="benefits-item">
          <h3 class="benefits-title">Investmant Banking</h3>
          <p class="benefits-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg class="benefits-icon" widht="35" height="35">
              <use href="./images/svg/university.svg"></use>
            </svg>
          </a>

        </div>
      </li>
      <li class="benefits-about">
        <div class="benefits-item">
          <h3 class="benefits-title">Portfolio Manager</h3>
          <p class="benefits-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg class="benefits-icon" widht="35" height="35">
              <use href="./images/svg/book-reader.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="benefits-about">
        <div class="benefits-item">
          <h3 class="benefits-title">Tax & Custudio</h3>
          <p class="benefits-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
            necessitatibus!</p>
          <a href="" class="benefits-link">
            <svg class="benefits-icon" widht="35" height="35">
              <use href="./images/svg/pencil-alt.svg"></use>
            </svg>
          </a>

        </div>
      </li>
    </ul>
  </div>
</section>