<section class="blog">
  <div class="container blog__box">
    <div class="blog__content">
      <p class="blog__date top-text top-text--light">April 16 2020</p>
      <h2 class="title title--light blog__title">Blog</h2>
      <p class="blog__text top-text--light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam
      aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button type="button" class="btn btn--outline blog__btn">Read Our Blog</button>
    </div>
    <img src="./images/post.jpeg" alt="notebooks and a cup on the table" width="680">
  </div>
</section>
