<section class="callback">
  <div class="container callback__container">
    <div class="callback__img">
      <img src="./images/callback.jpeg" alt="the guy looks at the phone at the desktop" width="680" height="460">
    </div>
    
    <div class="callback__form">
      <h2 class="title callback__text">Request Callback</h2>
      <form class="form">
        <div class="form__field name">
          <input type="text" name="form-name" id="form-name" class="form__input" placeholder=" ">
          <label for="form-name" class="form__label">Enter your name</label>
        </div>
    
        <div class="form__field email">
          <input type="email" name="form-email" id="form-email" class="form__input" placeholder=" " required>
          <label for="form-email" class="form__label">Enter email&#42</label>
        </div>
        
    
        <button type="submit" class="btn btn--sm btn--100">Send</button>
      </form>
    </div>
  </div>
</section>
