<section class="callback">
  <div class="container">
    <div class="callback-div">
      <img src="./images/callback.jpeg" alt="the guy looks at the phone at the desktop" width="680" height="460">
      <div class="form">
        <h2 class="form__text">Request Callback</h2>
        <form class="callback-form">
          <div class="callback-form__user-name">
            <input type="text" name="user-name" id="user-name" class="callback-form__input" required>
            <label for="user-name" class="callback-form__name">Enter your name</label>
          </div>
      
          <div class="callback-form__email">
            <input type="email" name="form-email" id="form-email" class="callback-form__input" required>
            <label for="form-email" class="callback-form__email">Enter email</label>
          </div>
      
          <button type="submit" class="send-button">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
