<section class="cases">
  <div class="container">
    <p>This is what we do</p>
    <h2 class="title">Business Cases</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases__list">
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-01.jpeg"
          width="320"
          alt="people at the table"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-02.jpeg"
          width="320"
          alt="writes in the notebook"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-03.jpeg"
          width="320"
          alt="handshake"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-04.jpeg"
          width="320"
          alt="hands ower the table"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-05.jpeg"
          width="320"
          alt="work with laptop"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-06.jpeg"
          width="320"
          alt="skyscrapers and sky"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-07.jpeg"
          width="320"
          alt="ofice team"
        />
      </li>
      <li class="cases__item">
        <img
          class="cases__img"
          src="./images/case-08.jpeg"
          width="320"
          alt="people at computers"
        />
      </li>
    </ul>
    <div class="cases__line"></div>
  </div>
</section>
