<footer class="footer">
  <div class="container footer__container">
    <h2 class="title footer__title">Footer</h2>
    <ul class="footer__list">
      <li class="footer__item">
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="footer__link"
        >
          <svg width="35px" height="35px">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="footer__link"
        >
          <svg width="35px" height="35px">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="footer__link"
        >
          <svg width="40px" height="35px">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="footer__link"
        >
          <svg width="31px" height="35px">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__text">Copyright &#169; 2021 - FinanceLedger</p>
  </div>
</footer>
