<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__logo" href="./index.html">
        <span class="header__logo--accent">
          Finance
        </span>
        Ledger
      </a>
      <ul class="header__nav">
        <li class="header__item">
          <a href="" class="header__link">
            Home
          </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">
            About
          </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">
            Cases
          </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">
            Blog
          </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">
            Contact
          </a>
        </li>
      </ul>
    </div>

  </div>
</header>
