<section class="hero">
  <div class="container">
    <h1 class="title title--large">Section Hero Title</h1>

    <!-- Modal -->
    <a href="#" class="js-open-modal modal-btn modal-btn--hero" data-modal="1">
      <span class="modal-btn__thumb">
        <svg class="modal-btn__icon" width="9" height="18">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </span>
      <span class="modal-btn__text">Read More</span>
    </a>
    <include src="./partials/modals/modal-hero.html"></include>
  </div>
</section>
