<section class="team">
  <div class="container">
    <h2 class="visually-hidden">Team cards</h2>
    <ul class="person__cards">
      <li class="person">
        <div class="person__thumb">
          <img src="./images/employee-01.jpeg" alt="foto John Doe" class="person__img" width="420">
          <div class="person__overlay">
            <ul class="socials">
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-facebook">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-twitter">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-youtube">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-linkedin">
                </use></svg></li>
            </ul>
          </div></div>
        <p class="person__name">John Doe</p>
        <p class="person__position">President</p>
      </li>
      <li class="person">
        <div class="person__thumb">
          <img src="./images/employee-02.jpeg" alt="foto Jane Doe" class="person__img" width="420">
          <div class="person__overlay">
            <ul class="socials">
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-facebook">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-twitter">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-youtube">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-linkedin">
                </use></svg></li>
            </ul>
          </div></div>
        <p class="person__name">Jane Doe</p>
        <p class="person__position">Vice President</p>
      </li>
      <li class="person">
        <div class="person__thumb">
          <img src="./images/employee-03.jpeg" alt="foto Steve Smith" class="person__img" width="420">
          <div class="person__overlay">
            <ul class="socials">
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-facebook">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-twitter">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-youtube">
                </use></svg></li>
              <li><svg class="socials__icon" width="35" height="35">
                <use href="./images/icons.svg#icon-linkedin">
                </use></svg></li>
            </ul>
          </div></div>
        <p class="person__name">Steve Smith</p>
        <p class="person__position">Marketing Head</p>
      </li>
        </div>
    </ul>
  </div>
</section>
