.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: $transition-duration $transition-animation;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 800px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: $color-bg-lightest;
  transition: 0.3s all;
  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: calc(48 / 38);
    color: $color-text;
    margin-bottom: 40px;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);

    text-align: center;

    color: $color-text;
  }
  &__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: $color-text;
    cursor: pointer;

    transition: fill $transition-duration $transition-animation;

    &:hover,
    &:focus {
      fill: $color-secondary;
    }
  }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

// Стили и геометрия кнопки вызова Модального окна Hero

// .modal-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px 30px;

//   width: 167px;
//   height: 48px;

//   background: $color-accent;
//   border-radius: 5px;
//   text-decoration: none;

//   transition: background-color $transition-duration $transition-animation;

//   &__thumb {
//     display: flex;
//     align-items: center;
//   }

//   &__icon {
//     margin-right: 5px;
//     left: 21px;
//     fill: $color-text-lightest;
//     transition: transform $transition-duration $transition-animation,
//       transform 500ms $transition-animation;
//   }

//   &__text {
//     font-family: $font-stack;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: calc(28 / 18);

//     text-align: center;

//     color: $color-text-lightest;
//   }
//   &--about {
//     margin-left: 0;
//     margin-right: auto;
//     border: 1px solid $color-bg-lightest;
//     &:hover,
//     &:focus {
//       background-color: $color-secondary;
//     }
//   }

//   &--hero {
//     margin-left: auto;
//     margin-right: auto;
//     &:hover,
//     &:focus {
//       background-color: $color-secondary;
//       .modal-btn__icon {
//         transform: scale(1.5) translateX(-5px);
//       }
//     }
//   }
// }
