.about {
  
}

.about-flex {
  display: flex;
}

.about__img {
    
    display: block;
    max-width: 100%;
    height: auto;
}

.about_overlay {
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 30px;
  background-color: $color-accent;
}

.about__text-top {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65px;
  color: #ffffff;
  margin-bottom: 5px;
}

.about__title {
font-family: $font-stack;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #ffffff;
  margin-bottom: 26px;
}

.about__text-bottom {
font-family: $font-stack;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  margin-bottom: 17px;
}

.about__btn {
   display: inline-flex;
 font-family: inherit;
 font-style: normal;
font-weight: 400;
 font-size: 18px;
 line-height: 1.56;
 color: #FFFFFF;
 width: 167px;
height: 50px;
background-color: $color-accent;
border: 1px solid #FFFFFF;
border-radius: 5px;

 }
