
.callback__container {
    @media screen and (max-width: 320px) {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    
}

.callback__img, .callback__form {
    @media screen and (max-width: #{$tablet - 0.02}) {
        max-width: 767px;
    }
}

.callback__img img {
    width: 100%;
    height: 100%;
}

.callback__form {

    padding: 26px 30px 30px;
    background: #F4F4F4;
    border-radius: 0px;


    // padding: 78px 30px 82px;
    
}

.callback__text {
    margin-bottom: 34px;  
    text-align: left;
    color: $color-text;
}

.form__field {
    position: relative;
}

.form .name {
    margin-bottom: 36px;
}
.form .email {
    margin-bottom: 53px;
}

.form__input {
    width: 100%;
    padding: 6px 5px 5px;
    border: none;
}

.form__label {
    position: absolute;
    top: 50%;
    left: 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #808080;

    transform: translateY(-50%);
    transition: transform 250ms linear;

}

.form__input:focus + .form__label, 
.form__input:not(:placeholder-shown) + .form__label {
   transform: translateY(-45px);
}
