.header {
  padding-top: 11px;
  padding-bottom: 11px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header__flex {
  display: flex;
}

.logo {

  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  text-decoration: none;

  color: $color-text-lightest;

  &__text {
    color: $color-accent;
  }
}

.header__item:not(:last-child) {
  margin-right: 37px;
}

.header__nav {
  @extend %list;

  display: flex;
  margin-left: auto;
  align-items: center;
}



.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;

  color: $color-text-lightest;

  transition: color $transition-duration $transition-animation;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

