.team-header {
    text-align: center;
}

.team-header-description {
    font-style: 20px;
    line-height: 1.21;
    text-align: center;
}

.title {
    font-style: light;
    font-size: 38px;
    line-height: 1;
    text-align: center;
}

.team-header-text {
    font-size: 18px;
    line-height: 1.15;
    text-align: center;
}